<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
	<% else %>
	<div class="center hero-unit">
		<h1>Welcome to The Gentle Introduction Resource</h1>
		<p>
			This is the home page for
			<%= link_to "The Gentle Introduction Resource", signin_path %>
			web app.
		</p>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		<br /><br /><p>The G.I.R. is a Rails based web app that hopes to collect a specific collection of crowdsourced academic resources.  This app is maintained by <a href="http://www.twitter.com/Anderson_Evans">Anderson Evans</a> as the core of his thesis for the MALS degree in Digital Humanities at <a href="https://www.gc.cuny.edu/Page-Elements/Academics-Research-Centers-Initiatives/Masters-Programs/Liberal-Studies/Program-tracks/Digital-Humanities">CUNY Graduate Center</a>.</p>
	</div>
	<br/>
	<center><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to image_tag("heroku_logo.png", alt: "Heroku"), 'http://heroku.com/' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to image_tag("github_logo2.png", alt: "Github"), 'http://github.com/' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to image_tag("postgresql_logo.png", alt: "PostgreSQL"), 'http://www.postgresql.org/' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to image_tag("cuny_logo2.jpg", alt: "CUNY"), 'http://commons.gc.cuny.edu/' %></center>
<% end %>