<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Insert Gentle Intro here..." %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<p>-----<br/></p>
	<h3>Instructions</h3>
	<p><i>Please structure your post like this:</i><br/>
	GENTLE INTRO TITLE || GENTLE INTRO AUTHOR || HYPERLINK || #GENERAL_THEME #SPECIFIC_THEME<br/>
	<br/>
	<p><i>Example:</i><br/>
	An Even Gentler Introduction to XML || http://dh.obdurodon.org/what-is-xml.xhtml || David J. Birnbaum || #markup #XML
	<p><br/></p>
	<!--<p>To follow other users click on the <strong><%= link_to "USERS", users_path %></strong> selection in the menu, find a user you'd like to <strong>FOLLOW</strong>, click on their name, then click the <strong>FOLLOW BUTTON</strong> next to their name.</p>-->
	<p><br/></p>
	<p><i>To read a detailed description of this site's purpose please see:</i><br/>
	<b>1.</b> <%= link_to "FAQ", faq_path %>: Frequently Asked Questions <br/>
	<b>2.</b> <%= link_to "Downloads", downloads_path %>: Full supplemental "whitepaper" on the project in both PDF form, as well as a hypertext document written for the Ruby Interpreter. </p>

<% end %>